.buttonComponent {
  word-break: break-word !important;
  white-space: normal !important;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
  }
}
