.contentBoxContainer {
  background: linear-gradient(to bottom, var(--primary-color), #0077C7);
  padding: 6rem
}

@media (max-width: 992px) {
  .contentBoxContainer {
    padding: 4rem
  }
}

@media (max-width: 768px) {
  .contentBoxContainer {
    padding: 4rem 1rem;
  }
}