.contactCenterContainer {
  .buttonComponent {
    width: 50%;
    margin-top: 40px;
  }

  .CardsWOBgContainer {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .contactCenterContainer {
    .buttonComponent {
      width: 90%;
    }
  }
}