.landingPageHeroSectionHero {
  height: calc(100vh - 68px);
  width: 100%;
  background-image: url("../assets/heroSection.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;

  .scrollDown {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    animation: scrollFloat 1.8s ease-in-out infinite;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap:10px
  }

  .landingPageHeroSection {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;

    .heroSectionContent {
      width: 52%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h4 {
        font-weight: 500;
        margin: 0;
        font-size: clamp(14px, 1.2vw, 18px);
      }

      h1 {
        font-size: clamp(28px, 3vw, 56px);
        margin: 20px 0 0;
        line-height: 1.2;
      }

      p {
        width: 80%;
        font-size: clamp(14px, 1.1vw, 18px);
        line-height: 1.6;
        border-radius: 15px;
        margin-top: 30px;
      }

      .buttonComponent {
        width: 80%;
        height: 48px;
        margin-top: 80px;
      }
    }
  }
}

/* =========================
   Laptop / Small Desktop ≤ 1200px
========================= */
@media (max-width: 1200px) {
  .landingPageHeroSectionHero {
    .heroSectionContent {
      width: 60%;

      p {
        width: 75%;
      }
    }
  }
}

/* =========================
   Tablet ≤ 992px
========================= */
@media (max-width: 992px) {
  .landingPageHeroSectionHero {
    .landingPageHeroSection {
      justify-content: center;

      .heroSectionContent {
        width: 70%;

        p {
          width: 100%;
        }

        .heroSectionButton {
          margin-top: 60px;
        }
      }
    }
  }
}

/* =========================
   Mobile ≤ 768px
========================= */
@media (max-width: 768px) {
  .landingPageHeroSectionHero {
    .landingPageHeroSection {
      justify-content: center;

      .heroSectionContent {
        width: 100%;
        align-items: center;
        text-align: center;

        h1 {
          font-size: 1.8rem
        }

        p {
          width: 100%;
        }

        .buttonComponent {
          width: 100%;
        }
      }
    }
  }
}

/* =========================
   Small Mobile ≤ 480px
========================= */
@media (max-width: 480px) {
  .landingPageHeroSectionHero {
    .landingPageHeroSection {
      height: 100%;
      justify-content: end;
      .heroSectionContent {
        justify-content: center;
        h1 {
          font-size: 1.8rem
        }

        p {
          width: 90%;
        }

        .buttonComponent {
          width: 100%;
          height: 48px;
          margin-top: 40px;
        }
      }
    }
  }
}

@keyframes scrollFloat {
  0% {
    transform: translate(-50%, 0);
    opacity: 0.6;
  }
  50% {
    transform: translate(-50%, -12px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 0.6;
  }
}