.landingPageHeroSectionHero {
  height: 100vh;
  width: 100%;
  background-image: url("../../../assets/images/herosection.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  .landingPageHeroSection {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;

    .heroSectionContent {
      width: 52%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h4 {
        font-weight: 500;
        margin: 0;
        font-size: clamp(14px, 1.2vw, 18px);
      }

      h1 {
        font-size: clamp(28px, 3vw, 56px);
        margin: 20px 0 0;
        line-height: 1.2;
      }

      p {
        width: 80%;
        font-size: clamp(14px, 1.1vw, 18px);
        line-height: 1.6;
        padding: 16px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 15px;
        backdrop-filter: blur(20px);
        margin-top: 30px;
      }

      .heroSectionButton {
        width: 80%;
        height: 48px;
        margin-top: 80px;
      }
    }
  }
}

/* =========================
   Laptop / Small Desktop ≤ 1200px
========================= */
@media (max-width: 1200px) {
  .landingPageHeroSectionHero {
    .heroSectionContent {
      width: 60%;

      p {
        width: 75%;
      }
    }
  }
}

/* =========================
   Tablet ≤ 992px
========================= */
@media (max-width: 992px) {
  .landingPageHeroSectionHero {
    .landingPageHeroSection {
      justify-content: center;

      .heroSectionContent {
        width: 70%;

        p {
          width: 100%;
        }

        .heroSectionButton {
          margin-top: 60px;
        }
      }
    }
  }
}

/* =========================
   Mobile ≤ 768px
========================= */
@media (max-width: 768px) {
  .landingPageHeroSectionHero {
    .landingPageHeroSection {
      justify-content: center;

      .heroSectionContent {
        width: 100%;
        align-items: center;
        text-align: center;

        h1 {
          font-size: 2.8rem
        }

        p {
          width: 100%;
        }

        .heroSectionButton {
          width: 100%;
          margin-top: 40px;
        }
      }
    }
  }
}

/* =========================
   Small Mobile ≤ 480px
========================= */
@media (max-width: 480px) {
  .landingPageHeroSectionHero {
    .heroSectionContent {
      h1 {
        font-size: 26px;
      }

      h4 {
        font-size: 14px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}
