.contactUsPageContainer {
  .contactUsPageContent {
    padding: 2rem;
    border-radius: 8px;
    background: #f7f7f7;
    width: 60%;
    margin: auto;

    .officeHead {
      display: flex;
      gap:6px;
      font-weight: 600;
      align-items: center;
    }
    .scheduleBtn {
      height: 56px;
      background: var(--primary-color);
      margin: auto;
      width: 60%;
    }
  }
}

@media (max-width: 992px) {
  .contactUsPageContainer {
    .contactUsPageContent {
      width: auto;
    }
  }
}

@media (max-width: 768px) {
  .contactUsPageContainer {
    .contactUsPageContent {
      width: auto;
      .scheduleBtn {
        width: 100%;
      }
    }
  }
}