.voiceContainer {
  .voice-content {
  }

  .stat-line {
    font-size: 1.2rem;
    color: #2b2b2b;
  }

  .highlight {
    font-size: 1.8rem;
    font-weight: 700;
    color: #1c2460;
  }

  .description {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.6;
  }

  .fluent {
    line-height: 10px;
    font-size:10px;
    width: 100%;
    p {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .voiceUl {
    padding-left: 1.2rem;
    font-size:1.5em;
    display: flex;
    flex-direction: column;
    gap:20px;
    color:black;
  }

}