.CardsWOBgContainer {
  //width: 20%;
  text-align: center;
  color: var(--primary-color);
  padding: 30px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
  }
  p {
    margin-top: 10px;
    font-size: 16px;
  }
}