.contentImageBox {
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 6rem;
  //display: flex;
  //align-items: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
  }

  &.fullHeightShaded {
    height: calc(100vh - 68px);
    padding: 0;
    display: flex;
    align-items: center;

    &::before {
      background: linear-gradient(
                      to bottom,
                      rgba(28, 36, 96, 0.7),
                      rgba(0, 119, 199, 0.7)
      );
      backdrop-filter: none;
    }
  }

  &.shaded {
    padding: 6rem;

    &::before {
      background: linear-gradient(
                      to bottom,
                      rgba(28, 36, 96, 0.7),
                      rgba(0, 119, 199, 0.7)
      );
      backdrop-filter: none;
    }
  }

  .content {
    position: relative;
    z-index: 2;
    margin: auto;
  }

  &.fullHeight {
    height: 100vh;
    padding: 0;
    display: flex;
    align-items: center;

    &::before {
      background-color: rgba(28, 36, 96, 0.9);
      backdrop-filter: none;
    }
  }
}

/* =========================
   Tablet
========================= */
@media (max-width: 992px) {
  .contentImageBox {
    padding: 4rem;
  }
}

/* =========================
   Mobile
========================= */
@media (max-width: 768px) {
  .contentImageBox {
    padding: 2rem;
    &.shaded {
      padding: 2rem 1rem 3rem 1rem;
    }

    &.fullHeightShaded {
      padding: 1rem;
    }
    &.fullHeight {
      padding: 2rem;

      .content {
        display: flex;
        height: 100%;
      }
    }
  }
}


