.contactUsContainer {
  display: flex;
  height: 100vh;
  align-items: center;
  .left {
    width: 60%;
    height: 100%;
    .css-var-root.ant-image-css-var {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .right {
    width: 40%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .contactUsForm {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 20px;
    }

    p {
      font-size: 20px;
    }

    h3 {
      font-size: 1.6rem;
    }
  }
}

/* =========================
   Tablet ≤ 992px
========================= */
@media (max-width: 992px) {
  .contactUsContainer {
    .right {
      margin: auto;
      padding: 2rem;
    }
  }
}

/* =========================
   Mobile ≤ 768px
========================= */
@media (max-width: 768px) {
  .contactUsContainer {
    padding: 2rem 0;
    .left {
      display: none;
    }

    .right {
      margin: auto;
      width: 90%;
      padding: 0;

      .contactUsForm {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
      }
    }
  }
}