.longButtonContainer {
  background: linear-gradient(to right, #1C2460, #0077C7);
  border-radius: 60px;
  margin: auto;
  margin-top: 60px;
  padding: 10px;
  padding-left: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  width: 70%;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 480px) {
.longButtonContainer {
  width: 100%;
  justify-content: center;
  padding-left: 0;
}
}
