.ChallengeCard {
  padding: 20px;
  border-radius: 16px;
  height: 100%;

  .heading {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 4px;
  }

  .description {
    font-size: 1rem;
  }
}

.challengePointsContainer {
  padding: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;

  .challengePointsContainerContent {
    padding: 10px;
    border-radius: 6px;

    .challengePointsContainerKey {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .challengePointsContainerVal {
      font-size: 0.9rem;
    }
  }
}
