.notesContainer {
  .filledCards {
    width: 60%;
    margin: auto;
  }
  .CardsWOBgContainer {
    height: 100%;
  }

}

@media (max-width: 768px) {
  .notesContainer {
    .notesContent {
      width: 100%;
    }
  }
}